<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      	body { height: 100%; margin: 0; padding: 0 }
  	    #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxcLsh5UEYOPRUW_q3uCwLhcVTcYiXfaY">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(46.17, -72.43), zoom: 8     };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>

<body>
	<div id="map-canvas"/></div>
<center>
	<h1>Ants!</h1>
	{% if ant_list %}
	{%for ant in ant_list %}
	
	{{ ant.country }}<br>
	{{ ant.specimen_ID }}<br>
	{{ ant.GPS_lat }}<br>
	{{ ant.GPS_long }} <br>
	{{ ant.species }} <br>
	{{ ant.species.family }} <br>
	{% endfor %}
	{% else %}
	<h2>No ants</h2>
	{% endif %}

</center>
</body>
</html>
