<!DOCTYPE html>
{% load static %}
{% load render_table from django_tables2 %}

<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />




   <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    <style type="text/css">
      html { height: 100% }
      	body { height: 100%; margin: 0; padding: 0 }
  	    #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxcLsh5UEYOPRUW_q3uCwLhcVTcYiXfaY">
    </script>


    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(46.17, -72.43), zoom: 8     };
	var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

	{% if ant_list %}
	{% for ant in ant_list %}
	{% if ant.GPS_lat %}
	var marker = new google.maps.Marker({
		position: new google.maps.LatLng(parseFloat({{ ant.GPS_lat }}), parseFloat({{ ant.GPS_long }})),
		map: map,
		title: "{{ ant.species }}"})
	{% endif %}
	{% endfor %}
	{% endif %}
	}

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>


  </head>

<body>
	<div id="map-canvas"/></div>
<center>
	
	
	<h1>Ants!</h1>
	
	{% render_table ant_list %}
	
	{% if ant_list %}
	{%for ant in ant_list %}
	
	{{ ant.country }}<br>
	{{ ant.specimen_ID }}<br>
	{{ ant.GPS_lat }}<br>
	{{ ant.GPS_long }} <br>
	{{ ant.species }} <br>
	{{ ant.species.family }} <br>
	{% endfor %}
	{% else %}
	<h2>No ants</h2>
	{% endif %}

</center>
{% render_table ant_list %}
</body>
</html>
